.rails, .rails:focus{
  color:#c00;
}
.ruby, .ruby:focus{
  color:#930f17;
}
.postgres, .postgres:focus{
  color:#008ebd;  
}
.icon-heroku, .icon-heroku:focus{
  background-color:#7d5da2;
  color:#fff;
}
.heroku, .heroku:focus{
  color:#7d5da2;
}
.icon-heroku::before{
  position: relative;
  left: 4px;
  top: 2px;
}
.javascript, .javascript:focus{
  color:#21abc7;
}
