
body{
  position: relative;
}
#jumbotron{
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.page-header{
  margin: 10px 0 0px;
}
img{
  width:100%;
}
a:focus{
  outline: 0px auto -webkit-focus-ring-color;
}

#projects .panel:hover, #blog .panel:hover{
  border-color: #51a7e8;
  box-shadow: 0 0 5px rgba(81,167,232,0.5);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  transition: border-color 0.15s ease 0s, 
    transform 0.15s ease 0s, box-shadow 0.15s ease 0s,
    color 0.15s ease 0s;
}
.description{
  font-size: 18px;
}
.project-description{
  margin: 10px 0px;
}

.filter-bar{
  padding: 10px;
  background-color: #fafafa;
  border-bottom: 1px solid #e5e5e5;
}

ul.filter{
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 0;
  list-style: none;
}

ul.filter li{
  display: inline-block;
  margin: 0px 5px;
  
}
ul.filter li > a{
  padding: 5px 5px 6px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

ul.filter li > a:hover{
  border-bottom-color: #e5e5e5;
}
ul.filter > li > a.filter-selected{
  border-bottom-color: #d26911;
}

#projects > section > div.filter-bar > ul > li:nth-child(1) > a{

}

#welcome div{
  display:inline-block;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
  }

#exercises tr, #projects .project
{
  -webkit-transform: perspective(350px) rotateX(-90deg);
  transform: perspective(350px) rotateX(-90deg);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
    animation: flipdown 0.7s;
    animation-fill-mode: forwards;
    -webkit-animation: flipdown 0.7s;
    -webkit-animation-fill-mode: forwards;
}

#exercises tr.flippedup, #projects .project.flippedup
{
    animation: flipup 0.7s;
    animation-fill-mode: forwards;
    -webkit-animation: flipup 0.7s;
    -webkit-animation-fill-mode: forwards;

}

@keyframes flipdown
{
  0% { transform: perspective(350px) rotateX(-90deg); }
  33% { transform: perspective(350px) rotateX(0deg); }
  66% { transform: perspective(350px) rotateX(10deg); }
  100% { transform: perspective(350px) rotateX(0deg); }
}

@-webkit-keyframes flipdown
{
  0% { -webkit-transform: perspective(350px) rotateX(-90deg); }
  33% { -webkit-transform: perspective(350px) rotateX(0deg); }
  66% { -webkit-transform: perspective(350px) rotateX(10deg); }
  100% { -webkit-transform: perspective(350px) rotateX(0deg); }
}

@keyframes flipup
{
  0% { transform: perspective(350px) rotateX(0deg); }
  33% { transform: perspective(350px) rotateX(10deg); }
  66% { transform: perspective(350px) rotateX(0deg); }
  100% { transform: perspective(350px) rotateX(-90deg); 
        display: none;
      }
}

@-webkit-keyframes flipup
{
  0% { -webkit-transform: perspective(350px) rotateX(0deg); }
  33% { -webkit-transform: perspective(350px) rotateX(10deg); }
  66% { -webkit-transform: perspective(350px) rotateX(0deg); }
  100% { -webkit-transform: perspective(350px) rotateX(-90deg); 
    display: none;
  }
}